@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  object-fit: cover;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
  border-radius: 16px;
}

body {
  background-color: #f1f1f1;
}

nav {
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

nav a.logo {
  font-size: 33px;
  color: #0f2182;
  font-weight: 600;
}

nav .links a:not(:last-child) {
  margin-right: 20px;
}

nav .login button {
  padding: 8px 14px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

nav .login button,.signup {
  background-color: #000;
  color: #fff;
  border-radius: 16px;
  margin-left: 14px;
}

header {
  padding: 0 80px;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .left {
  width: 700px;
}

header .left h1 {
  font-size: 80px;
}

header .left h1 span {
  color: #0f2182;
}

header .left p {
  margin: 40px 0;
  color: #777;
}

header .left a {
  display: flex;
  align-items: center;
  background: #000;
  width: 200px;
  padding: 8px;
  border-radius: 60px;
}

header .left a i {
  background-color: #fff;
  font-size: 24px;
  border-radius: 50%;
  padding: 8px;
}

header .left a span {
  color: #fff;
  margin-left: 10px;
}

 
header img {
  width: 600px;
}

h2.separator {
  padding: 0 80px;
  font-size: 40px;
  margin-top: 40px;
}

.sell-portfolio {
  padding: 0 80px;
  margin: 50px 0 80px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.sell-portfolio .item,
.portfolio-shop .portfolio-list .item {
  padding: 20px;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
  transition: all .3s ease;
  
}
.sell-portfolio .item,
.portfolio-shop .portfolio-list .item:hover {
  box-shadow: none;
}

.sell-portfolio .item .header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sell-portfolio .item .header i {
  font-size: 40px;
}

.sell-portfolio .item .header h5 {
  font-size: 17px;
  gap: 
}

.sell-portfolio .item p {
  margin-top: 10px;
  padding: 0 4px;
}
.portfolio-shop {
  padding: 0 80px;
  margin-top: 30px;
}

.portfolio-shop .category {
  display: flex;
  gap: 14px;
}

.portfolio-shop .category a {
  background-color: #dfdcdc;
  padding: 8px 14px;
  font-size: 15px;
  border-radius: 14px;
  transition: all .3s ease;
}

.portfolio-shop .category a:hover {
  color: #fff;
  background-color: #0f2182;
}

.portfolio-shop .portfolio-list {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.portfolio-shop .portfolio-list img {
  width: 280px;
  height: 280px;
  border-radius: 18px;
}

.portfolio-shop .portfolio-list .item .info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #edecec;
}

.portfolio-shop .portfolio-list .item .info h5 {
  font-size: 18px;
}

.portfolio-shop .portfolio-list .item .info  .btc {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.portfolio-shop .portfolio-list .item .btc i {
  font-size: 22px;
  color: #304ffe;

}

.portfolio-shop .portfolio-list .item .btc p {
  font-size: 12px;
  color: #304ffe;
}

.portfolio-list .item img {
  background: transparent rgb(0, 0, 0, .2);
  box-shadow: 0 0 10px;
}

.item .imfo h5 {
  display: flex;
  margin-top: 1rem;
  
}

